.intro{
    background-color: rgb(17, 1, 1);
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.intro > img{
    height:600px;
}


span{
    font-family: 'Libre Baskerville', serif; 
    font-size: 40px;
}
.profile{
    background-color:#0A2647;
    height:500px;
    display:flex;
    justify-content:space-evenly;
    height:40vh;
    align-items:center;
}
.profile>img{
    height:150px;
    border-radius: 50%;

}
.profile>h3{
    font-size: 30px;
    color:aliceblue
}
.skills{
    background-color:  #00337C;
}
.col h3{
    font-size: 50px;
    color:rgb(253, 250, 250)

}
.skills h2{
    color: aliceblue;
    margin:0;
    text-align: center;
}
.projects{
    background-color: #1C82AD;
}
.projects h2{
    font-size: 50px;
    color:aliceblue;
    text-align:center;
    margin:0;
    padding:40px;
}
ul{
    list-style:none;
    
}
p{
    font-size: 30px;
    font-weight: bold;
}
.proname{
    display:flex;
    justify-content:center;
}
.proname h3{
    font-weight: bolder;
    font-size: 40px;
}